server:
  port: 8081

spring:
  application:
    name: scheduler-service

  datasource:
    url: jdbc:postgresql://localhost:5432/task_tracker_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false